@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
    color: #333;
    background-color: #f5fdff;
    padding: 65px 127px;
}
.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 120px;
    height: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 65px;
}
.nav__link {
    font-size: 19px;
    font-weight: 500;
    
    display: flex;
    align-items: center;
    gap: 10px;
    color: #0b3948;
}
a {
    text-decoration: none;
}

.main__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-top: 115px;
}
.main__title{
    font-size: 42px;
    font-weight: 600;
    color: #181818;
    margin-bottom: 30px;
    line-height: 1.4;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.main__word {
    color: #0f576f;
}
.main__description {
    font-size: 11px;
    font-weight: 300;
    color: #454545;
    margin-bottom: 35px;
    line-height: 1.7;
    margin-right: 140px;
}

.main__button {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    background-color: #0b3948;
    padding: 20px 40px;
    border-radius: 13px;
    text-transform: capitalize;
}
button {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border: none;
}
.main__image {
    width: 600px;
    height: auto;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 170px;
  }
  
  .footer__text {
    color: #454545;
    font-size: 19px;
    font-weight: 500;
  }
  
  .gallery__container {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .gallery__logo {
    filter: invert(58%) sepia(0%) saturate(1397%) hue-rotate(180deg)
      brightness(91%) contrast(85%);
    height: 38px;
    object-fit: contain;
  }
  
  .gallery__logo4 {
    height: 20px;
  }